{% extends "layout.html" %}
<!---->
{% block content %}
    <form action="">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Relatorio Final de Atividade Relizada</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <label for="curso">Qual curso você estava vendo agora?</label>
            <input type="text" name="curso" id="curso" placeholder="Nome do Curso" class="form-control">
            <div class="mid_width">
                <label for="naula">Qual aula desse curso você estava vendo agora?</label>
                <input type="number" name="naula" id="naula" placeholder="Nº da aula" class="form-control">
            </div>
            <button type="submit" class="btn btn-success top_space">Check In</button>
            <button type="submit" class="btn btn-danger top_space">Check Out</button>
        </div>
    </form>
{% endblock %}