{% extends "layout.html" %}
<!---->
{% block content %}
<div class="card mid_width border-primary mb-3 top_space">
    <div class="card-header">
        Autenticação
    </div>
    <form class="card-body"  action="{% url 'login' %}", method="post" autocomplete="off">
        {% csrf_token %}
        <input type="text" name="username" class="form-control" placeholder="Usuario">
        <input type="password" name="pwd" class="form-control" placeholder="Senha">
        <button type="submit" class="btn btn-primary top_space">Login</a>
    </form>
</div>
{% endblock %}