{% extends "layout.html" %}
<!---->
{% block content %}
<main>
    {% if relatorios %}
    {% for relatorio in relatorios %}
    <article class="scopo">
        <div class="card border-info mb-3" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title"><b>{{ relatorio.username }}</b></h4>
                <p class="card-text">{{ relatorio.conteudo }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ relatorio.curso }}</li>
                <li class="list-group-item">{{ relatorio.naula }}</li>
                <li class="list-group-item">Checkin: {{ relatorio.checkin }}</li>
                <li class="list-group-item">Checkout: {{ relatorio.checkout }}</li>
            </ul>
        </div>
    </article>
    {% endfor %}
    {% else %}
    <h1>{{ username }} não possui relatorios registrados.</h1>
    {% endif %}
</main>
{% endblock %}