{% extends "layout.html" %}
<!---->
{% block content %}
<main>
    {% for relatorio in relatorios %}
    <article class="scopo">
        <div class="card border-info mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Data</h5>
                <p class="card-text">Conteudo do relatorio. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Curso</li>
                <li class="list-group-item">Aula assistida</li>
            </ul>
        </div>
    </article>
    {% endfor %}
</main>
{% endblock %}