{% extends "layout.html" %}
<!---->
{% block content %}
<main>
    {% if relatorios %}
    <h1>Relatorios <b>{{ username }}</b></h1>
    {% for relatorio in relatorios %}
    <article class="scopo">
        <div class="card border-info report_card_width mb-3">
            <div class="card-body" style="height: 12rem; overflow: auto;">
                <p class="card-text">{{ relatorio.conteudo }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item name_curso_card">
                    {{ relatorio.curso }} - {{ relatorio.naula }}
                </li>
                <li class="list-group-item">In: {{ relatorio.checkin }}</li>
                <li class="list-group-item">Out: {{ relatorio.checkout }}</li>
            </ul>
        </div>
    </article>
    {% endfor %}
    {% else %}
    <h1>{{ username }} não possui relatorios registrados.</h1>
    {% endif %}
</main>
{% endblock %}