.top_space {
    margin-top: 2%;
}

.scopo {
    width: 100%;
    padding: 2% 0;
    margin: 0;
}

.spanalert {
    background-color: rgba(220, 20, 60, 0.349);
    border-left: 5px solid crimson;
}

.report_card_width {
    width: 100%;
}

.user_card_width {
    width: 100%;
}

.name_curso_card {
    height: 4rem;
    overflow-x: auto;
    white-space: nowrap;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    float: left;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #1fc8db;
}

.social-icons a {
    font-size: 1.8em;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 3%;
}

.social-icons a:last-child {
margin-right: 0;
}

.social-icons a:hover {
color: rgb(255, 255, 255);
}


@media screen and (min-width: 1100px) {
    .scopo {
      width: 18rem;
      float: left;
      margin: 1%;
      padding: 0;
    }

    .report_card_width {
        width: 18rem;
    }
    .user_card_width {
        width: 24rem;
    }

    .mid_width {
        width: 50%;
    }
}